<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/choosecomp"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ brand }} Branches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false" color="dark" >
    <ion-searchbar placeholder="Search branches here" (click)="showList()" 
        class="disabled_search" *ngIf="mapInit" color="secondary"></ion-searchbar>
    <ion-button expand="full" color="dark" (click)="showAdvancedPicker()" *ngIf="mapInit">
      {{ filter }}
    </ion-button>

    <div class="spin" *ngIf="!mapInit">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <div *ngIf="mapInit" class="mapContainer">
      <div class="btn-container overlay" (click)="initializeMap()">
        <ion-icon class="custom-btn" name="locate"></ion-icon>
      </div>
      <div id="map" style="height: 100%;" leaflet 
        [leafletOptions]="options"
        [(leafletZoom)]="zoom"
        [(leafletCenter)]="center"
        [leafletLayers]="branches"
        (leafletMapReady)="onMapReady($event)">
      </div>
    </div>
    
</ion-content>
