<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/branch" text="Cancel"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Branch List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search branches here" [(ngModel)] = "searchText"></ion-searchbar>
    <ion-list *ngFor="let branch of branchesOrderBy('distance') | branchesSearch: searchText">
          <ion-item (click)= goToMap(branch)>
            <ion-label text-wrap>
              <ion-text color="Danger">
                <h3>{{ branch.branch_name }}</h3>
              </ion-text>
              <p class="list_subHeader">
                {{ (branch.distance)/1000 | number: '0.1-2' }} km away from your current location
              </p>
            </ion-label>
          </ion-item>
    </ion-list>
</ion-content>
