<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/choosecomp"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ brand }} Branches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search branches here"></ion-searchbar>
    <div class="spin" *ngIf="!mapInit">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <div *ngIf="mapInit" class="mapContainer">
      <div class="btn-container overlay" (click)="userCurrentLocation()">
        <ion-icon class="custom-btn" name="locate"></ion-icon>
      </div>
      <div style="height: 100%;" leaflet 
        [leafletOptions]="options"
        [(leafletZoom)]="zoom"
        [(leafletCenter)]="center"
        [leafletLayers]="branchesMarkers">
      </div>
    </div>
    
</ion-content>
