<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Search Branch List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search branches here" [(ngModel)] = "searchText"></ion-searchbar>
    <ion-list *ngFor="let branch of branchesOrderBy('distance') | branchesSearch: searchText">
          <ion-item>
            <ion-avatar slot="end" (click)="viewPhoto(branch)">
              <img [src]="(branch.img) ? branch.img:'assets/img/default_list_image.jpg'">
            </ion-avatar>
            <ion-label text-wrap (click)= goToMap(branch)>
              <ion-text color="Danger">
                <h3>{{ branch.branch_name }}</h3>
              </ion-text>
              <p class="list_subHeader">
                {{ (branch.distance)/1000 | number: '0.1-2' }} km away from your current location
              </p>
            </ion-label>
          </ion-item>
    </ion-list>
</ion-content>
