.mapContainer {
    position: relative;
    height: 100%;
    z-index: 1;
}
.overlay{
    position: absolute;
    right: 10px;
    bottom: 150px;
    z-index: 999;
}
.btn-container{
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    height: 34px;
    -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.custom-btn{
    border-radius: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}

.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 ion-spinner {
    width: 28px;
    height: 28px;
    --color: #a0a4ab;
 }
 .disabled_search{
    input[disabled] {
        opacity: 1;
    }
    color: #000;
 }

 