<ion-content color="dark">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-img class="img-thumbnail-size img-horizontal-center" 
              src="../../assets/img/tnc.png" alt="TNC logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item color="dark">      
          <ion-icon name="body" slot="start"></ion-icon>
          <ion-input type="text" placeholder="User ID"
            formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          </ion-input>
        </ion-item>
      </ion-row>
      <ion-row *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </ion-row>
      <ion-row>
        <ion-item color="dark">      
          <ion-icon name="lock" slot="start"></ion-icon>
          <ion-input type="password" placeholder="Password"
            formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          </ion-input>
        </ion-item>
      </ion-row>
      <ion-row *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </ion-row>
      <ion-row>
        <ion-item color="dark">      
          <ion-button type="submit" expand="block">
              <ion-spinner name="lines" *ngIf="loading"></ion-spinner>
              LOGIN
          </ion-button>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col col-9>
          <a routerLink="/register">Register</a>
        </ion-col>
        <ion-col col-3>
          <!-- TODO create help -->
          <a routerLink="/help">NEED HELP?</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
