<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="Home">
      <ion-icon name="home" color="secondary" ></ion-icon>
      <ion-label color="secondary" >Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Branch">
      <ion-icon name="pin" color="secondary" ></ion-icon>
      <ion-label color="secondary" >Branches</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Shop">
        <ion-icon name="pricetag" color="secondary" ></ion-icon>
        <ion-label color="secondary" >Shop</ion-label>
      </ion-tab-button>
    <ion-tab-button tab="Me">
      <ion-icon name="person" color="secondary" ></ion-icon>
      <ion-label color="secondary" >My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>