<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Choose Shop
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content no-padding no-bounce color="dark">
 <ion-grid no-padding>
    <ion-row>
      <ion-col class="flex" [routerLink]= "['/branch']" 
        [queryParams]="{ id:1, brandName: 'High Grounds'}" routerDirection="forward">
            <ion-avatar>
              <img src="./assets/img/grdzero.png"> 
            </ion-avatar>
        <p padding>High Grounds</p>
      </ion-col>
      <ion-col class="flex" [routerLink]= "['/branch']" 
        [queryParams]="{ id: 2, brandName: 'TNC'}" routerDirection="forward">
          <ion-avatar>
            <img src="./assets/img/tnc.png"> 
          </ion-avatar>
        <p padding>TNC</p>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
