<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Choose Shop
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content no-padding no-bounce color="primary">

<ion-card class="options" color="medium">
 <ion-grid no-padding>
    <ion-row>
      <ion-col class="flex" [routerLink]= "['/branch']" 
        [queryParams]="{ id:1, brandName: 'High Grounds'}" routerDirection="forward">
            <ion-avatar>
              <img src="./assets/img/grdzero.png"> 
            </ion-avatar>
      </ion-col>
      <ion-col class="flex" [routerLink]= "['/branch']" 
        [queryParams]="{ id: 2, brandName: 'TNC'}" routerDirection="forward">
          <ion-avatar>
            <img src="./assets/img/tnc.png"> 
          </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row text-center>
        <ion-col>
          Ground Zero
        </ion-col>
        <ion-col>
          TheNet.Com
        </ion-col>
      </ion-row>
  </ion-grid> 
</ion-card>

</ion-content>
