<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Choose Shop
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content no-padding no-bounce>
 <ion-grid no-padding>
    <ion-row>
      <ion-col class="flex">
        <a routerLink="/highgroundsbranch">
            <ion-avatar>
              <img src="./assets/img/grdzero.png"> 
            </ion-avatar>
        </a>
        <p padding>High Grounds</p>
      </ion-col>
      <ion-col class="flex">
        <a routerLink="/tncbranchlist">
          <ion-avatar>
            <img src="./assets/img/tnc.png"> 
          </ion-avatar>
        </a>
        <p padding>TNC</p>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
