// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #17181a;
  /** secondary **/
  --ion-color-secondary: #262d3d;

  /** tertiary **/
  --ion-color-tertiary: #3a445a;

  /** success **/
  --ion-color-success: #10dc60;

  /** warning **/
  --ion-color-warning: #ffce00;

  /** danger **/
  --ion-color-danger: #f04141;

  /** dark **/
  --ion-color-dark: #222428;

  /** medium **/
  --ion-color-medium: #a0a4ab;

  /** light **/
  --ion-color-light: #ffffff;
}

ion-alert
{
 --background: white !important;
   p{
     color: #262d3d;
   }
  a{
    color: #262d3d;
  }
  button{
    color: #262d3d !important;
  }
  h2{
    color: white !important;
  }
  .alert-head{
    background-color: #222428 !important;
  }
 }

 .leaflet-popup-content-wrapper{
  background-color: #222428 !important;
  color: white !important;
}
.leaflet-popup-tip{
  background-color: #222428 !important;
  color: white !important;
}
