<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Branches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar style="z-index:17" placeholder="Search for Branch name"></ion-searchbar>
  <div class="btn-container overlay" (click)="userCurrentLocation()" *ngIf="mapInit">
    <ion-icon name="locate" class="custom-btn"></ion-icon>
  </div>
  <div class="mapContainer">
    <div *ngIf="mapInit" style="height: 100%; width:100%" leaflet 
      [leafletOptions]="options"
      [(leafletCenter)]="center"
      [leafletLayers]="layers"
      [(leafletZoom)]="zoom"
      (leafletMapReady)="onMapReady($event)">
    </div>
  </div>
</ion-content>
