<ion-content color="primary">
    <ion-grid>
       <ion-row>
         <ion-col class="flex">
            <ion-icon name="information-circle-outline" style="zoom: 1.5"></ion-icon>
         </ion-col>
         <ion-col class="flex">
            About Us
         </ion-col>
       </ion-row>
       <ion-row text-center>
          <ion-col class="flex">
            <ion-icon name="call" style="zoom: 1.5" ></ion-icon>
          </ion-col>
          <ion-col>
            Contact Us
          </ion-col>
       </ion-row>
     </ion-grid> 
   </ion-content>