<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/branch" text="Back"></ion-back-button>
      </ion-buttons>
      <ion-title>Branch Profile</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>
        <div>
          <ion-img class="img-thumbnail-size img-horizontal-center" 
            src="../../assets/img/tnc.png" alt="TNC logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="" text-center>
      <ion-col>
        <div>
          <h2>{{ branch.branch_name }}</h2>
          <p class="sub-head">{{ branch.address }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="profile_menu">
    <ion-row class="">
      <ion-col col-12 class="col_profile">
        <ion-label>
          Branch Details:
        </ion-label>
        <ion-row>
          <ion-col>
            <p>
              <ion-icon style="font-size:8px" name="checkbox-outline"></ion-icon>
              Premium
            </p>
            <p>
              <ion-icon style="font-size:8px" name="checkbox-outline"></ion-icon>
              VIP PCs Available
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col col-12>
        <ion-item lines="full">
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>
              Food Menu
            </ion-label>
            <ion-icon name="arrow-dropleft" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col col-12>
        <ion-item lines="full">
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-label>
            Available Promos
          </ion-label>
          <ion-icon name="arrow-dropleft" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col col-12>
        <ion-item lines="full">      
          <ion-icon name="trophy" slot="start"></ion-icon>
          <ion-label>
            Tournaments
          </ion-label>
          <ion-icon name="arrow-dropleft" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
