.img-horizontal-center{
    margin: 0 auto;
}

.img-thumbnail-size{
    width: 80px;
    height: 80px;
}

.sub-head{
    font-size: 0.8rem;
    font-style: italic;
    color: #6c757d;
}

.profile_menu{
    color: #f26925;
    margin: 30px;
}

.profile_menu ion-label{
    color: #f26925;
}

.col_profile{
    border: 1px solid #6c757d;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.col_profile p{
    font-style: italic;
    font-size: 0.8rem;
    display: block;
    margin: 0;
}

ion-item{
    --padding-start: 0;
}

