<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card class="welcome-card" color="secondary">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Good Afternoon, <a routerLink="/register">User</a></ion-card-title>
      </ion-card-header>
    </ion-card>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/luckydraw" router-direction="back" color="medium">
        <ion-icon name="star-outline" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <div class="news">
    <ion-card *ngFor="let post of posts" class="nCard" color="secondary">
        <ion-card-content>
          <img [src]="post.media_url">
        </ion-card-content>
        <ion-card-header>
          <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
          <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
        </ion-card-header>
        <ion-button expand="full" fill="clear" [routerLink]="['/', 'home', post.id]" text-right>Read More...</ion-button>
      </ion-card>
  </div>
</ion-content>
